<h1>Gardening through the Internet!</h1>
<div class="component-container">
    <div class="columns">
        <div class="column">
            <h4>Keep all your gardens updated</h4>
            <p>Request new measurements, turn on and off services and see it through video in real time.</p>
            <ul>
                <li>- Turn on/off the grow lights, this helps your plants grow even without sun</li>
                <li>- Turn on/off the water pump, water your plants even when you are not in home </li>
                <li>- See all your sections in real time with this WebRTC implementation</li>
            </ul>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="column">
            <h4>Configure all sensors</h4>
            <p>Create, update and delete all your sensors.</p>
            <ul>
                <li>- Add new sensors to your garden</li>
                <li>- Update names, location and schedule your data collection</li>
                <li>- All XBee/ZigBee sensors compatible</li>
            </ul>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="column">
            <h4>Read the data</h4>
            <p>Visualize it in charts or request it in real time.</p>
            <ul>
                <li>- Request real-time measures of your sensors</li>
                <li>- See the last 10 measures</li>
                <li>- See the charts of the last measure</li>
                <li>- Request a report of the last month</li>
            </ul>
        </div>
    </div>
    <h3>Technology stack</h3>
    <div class="logos">
        <div class="logo raspberry"></div>
        <div class="logo python"></div>
        <div class="logo arduino"></div>
    </div>
    <div class="logos">
        <div class="logo webrtc"></div>
        <div class="logo angular"></div>
    </div>
    <!--<div class="image"></div>-->
</div>
<!--
<div>
    <video id="localVideo" autoplay playsinline></video>
    <video id="remoteVideo" autoplay playsinline></video>
    <div>
        <button mat-raised-button (click)="start()">START</button>
        <button mat-raised-button [disabled]="isDisabled" (click)="call()">CALL</button>
        <button mat-raised-button [disabled]="isDisabled" (click)="hangUp()">HANG UP</button>
    </div>
</div>-->



